@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Segoe UI", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.active-profile-btn {
  background-color: #fc766a;
}
.not-active-profile-btn {
  color: #5b84b1;
}
